.find-doctor{
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Styling Banner section */
.filter-banner{
    background: #eaf2ea;
    width: 100%;
    height: 23vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    font-family: 'Roboto';
    letter-spacing: 0.6px;
    color: #000000;
    text-align: center;
    margin-top: 0;
}
.banner-filters{
    display: flex;
    gap: 10px;
}
.location-container{
    height: 33px;
    display: flex;
    gap: 5px;
    align-items: center;

    border: none;
    border-radius: 5px;
    background: #ffffff;

    
    padding: 0 5px;
}
#location{
    border: none;
    outline: none;
    background: transparent;

    font-family: 'Arial Narrow';
    font-weight: 600;
    font-size: 11px;
    
    color: #767676;
    letter-spacing: 0.5%;
    cursor: pointer;

}
.input-text{
    font-family: 'Arial Narrow';
    font-weight: 600;
    font-size: 11px;
    
    color: #767676;
    letter-spacing: 0.5%;
}
.input-container{
    height: 33px;
    width: 310px;
    border: solid 1px #ffffff;
    background: #ffffff;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 11px;
    cursor: pointer;
}
.search-input{
    outline: none;
    border: none;
    background: transparent;

    height: 23px;
    width: 90%;
    
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 600;
    
    color: #7b7b7b;
    padding-left: 7px;
    cursor: pointer;
}

/* Styling filter options  */
.filters-container{
    width: 100%;
    height: 59px;

    gap: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1.7px #ededed;
}
.all-options{
    height: 29px;
    width: 96px; 
    border: solid 1.5px #dceedc;
    outline: none;
    border-radius: 5px;
    background: #dceedc;

    font-family: 'Arial Narrow';
    font-weight: 600;
    font-size: 11px;
    
    color: #767676;
    letter-spacing: 0.5%;
    cursor: pointer;
    padding: 3px 7px;
}


/* Styling selected filters */
.selected-filter-card{
    display: flex;
    align-items: center;
    align-self: flex-end;

    min-width: 310px;
    height: 10vh;
    gap: 11px;
    padding-right: 11px;
}
.selected-filter{
    background: #eaf2ea;
    border: solid 2.3px #e9f9e9 ;
    border-radius: 11px;

    width: 96px;
    height: 33px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 3px 7px;
}

.filter-text{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 13px;
}

/* Styling doctors profile cards */
.profile-card-container{
    padding: 0;
    width: 90%;
    
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
