.nav-bg{
    background-color: #FFF7E2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 10vmin;
}

.option{
    border: none;
    background: transparent;
    outline: none;

    font-family: "Assistant";
    font-weight: 700;
    font-size: 15px;
    color: rgb(45, 13, 13);
    transition: 1s all;
    cursor: pointer;
}
.option:hover{
    font-family: "Elephant";
    font-weight: 900;
    color: #1e293b;
    letter-spacing: 0.6px;
}
